{
  "extends": [
    "standard"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "max-lines": [
      "warn",
      {
        "max": 50,
        "skipComments": true
      }
    ]
  },
  "globals": {
    "APP_CONFIG": true
  }
}
