{
  "extends": [
    "standard"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "max-len":2,
    "max-lines": [
      "error",
      {
        "max": 100,
        "skipComments": true
      }
    ]
  },
  "globals": {
    "APP_CONFIG": true,
    "Promise": true
  }
}
