<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <!--TODO: externalize-->
    <style>
        body, html {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            color: rgb(51, 51, 51);
            -webkit-font-smoothing: antialiased;
            -webkit-user-select: none;
            overflow: hidden;
        }

        input {
            font-family: "Open Sans", sans-serif;
        }

        div, form {
            box-sizing: border-box;
        }

        #container {
            height: 100%;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600'>
    <link rel="stylesheet" type=text/css href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body>
<div id="container">
    <!--TODO: Migrate to less-->
    <style>
        .top {
            height: 50px;
            box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.50);
            position: fixed;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            color: rgb(169, 169, 169);
            font-family: "Open Sans", sans-serif;
            padding-left: 10px;
            font-weight: 600;
            background-color: rgb(246, 246, 246);
        }

        .bottom {
            height: 52px;
            box-shadow: 0px -1px 8px 1px rgba(0, 0, 0, 0.50);
            background-color: rgb(246, 246, 246);
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
    <div class="top">
        Search
    </div>
    <div></div>
    <div class="bottom"></div>
</div>
</body>
</html>
