<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <!--TODO: externalize-->
    <style>
        body, html {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            font-family: Open Sans, sans-serif;
            background-color: #1E1F23;
            color: #FFF;
            -webkit-font-smoothing: antialiased;
            -webkit-user-select: none;
            font-size: 13px;
            overflow: hidden;
        }

        input {
            font-family: Lato, sans-serif;
        }

        div {
            box-sizing: border-box;
        }

        .spaced > * {
            margin-right: 1em;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:400,300,600'>
    <link rel="stylesheet" type=text/css href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body>
</body>
</html>
